<div class="container">
    <div class="head">
        <div class="summary">
            <div class="sectionHead"> 
                <div>
                    {{selection.content.type}} Summary
                </div> 
                <div class="edit">
                    edit
                </div>

                <div class="entryDetails">
                    <div class="id">
                        ID: {{selection.content.id}}
                    </div>
                    <div class="version">
                        Ver: {{selection.content.ver}}
                    </div>
                </div>
            </div>
            <div class="summaryContent">
                {{selection.content.summary}}
            </div>
        </div>
        <div class="menuBtns">
            <div (click)="closeEditMenu()" class="close">
                <i class="fas fa-times"></i>
            </div>
            <div (click)="expandMenu()" class="expand">
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="tags">
            <div class="sectionHead">
                <div>
                    Tags
                </div>
            </div>
            <div class="tagsContent">
            </div>
        </div>
        <div class="description">
            <div class="sectionHead">
                <div>
                    Description
                </div>
            </div>
            <div class="descriptionContent">
                {{selection.content.summary}}
            </div>
        </div>
        <div class="footer">
            <div class="analytics">
                <div class="sectionHead">
                    <div>
                        Analytics
                    </div>
                </div>
                <div class="snalyticsContent">
                </div>
            </div>
            <div class="hierarchy">
                <div class="sectionHead">
                    <div>
                        Hierarchy
                    </div>
                </div>
                <div class="hierarchyContent">
                </div>
            </div>
        </div>

    </div>
</div>

