<div class="container">
    <div class="header">
        <div class="imageWrapper">
            <img [src]="this.UserDetails.picture" alt="">
        </div>
         <div>
            {{this.UserDetails.name}} 
        </div>
    </div>
    <div class="email">
       UniqueID : {{this.UserDetails._id}}
    </div>
    <div class="email">
      Email :  {{this.UserDetails.email}}
    </div>
    <div class="wallet">
      Wallet :  Wallet Not Linked
    </div>
    <div class="contributions">
        <div style="
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
         ">My Creations(RefID) :</div>
        <div>{{this.UserDetails.creator}}</div>
    </div>
</div>
