.container{
    display: grid;
    grid-template-rows: 60% 40%;
    height: 100%;
    overflow: hidden;
}

.topbar{
    height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 12% 68% 20%;
    align-items: center;
    .logo{
        display: grid;
        font-size: 25px;
        grid-gap:5px;
        padding-left: 10px;
    }
    .menuBtns{
        display: flex;
        justify-content: right;
        padding-right: 15px;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
            margin-left: 20px;
            width: 30px;
            height: 30px;
            font-size: 22px;
            box-shadow: inset -1px -3px 7px 1px lightgrey;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                box-shadow: inset 3px -3px 7px 1px rgb(190, 190, 190);
             }
        }

    }
}

.mobile{
display: none;
}
.timeline{
    // height: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 13.5% 65% 23%;
}

@media screen and (max-width: 1165px){
    .topbar{
        grid-template-columns: 15% 55% 30%;
        .logo{
            font-size:20px;
            padding-left: 5px;
        }
    }
    
}

@media screen and (max-width: 700px){
    .container{
        grid-template-rows: 55% 45%;
    }
    .topbar{
        grid-template-columns:100px auto;
        .menuBtns{
            padding-right: 15px;
            .icon{
                padding: 7px;
                margin-left: 15px;
                width: 25px;
                height: 25px;
                font-size: 22px;
              }
    }

    }
    .timeline{
        display: none;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .search.mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


