<div class="container">
    <div class="topbar">
        <div class="logo">
            <div class="desktop">
                Internet of
            </div>
            <div  class="desktop">
                Problems
            </div>
            <div  class="mobile"
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;"
            >
                Internet of Problems
            </div>
        </div>
        <div class="search desktop">
            <app-search-bar></app-search-bar>
        </div>
        <div class="menuBtns desktop">
            <div class="icon" (click)="createProblem()">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="icon">
                <i class="fas fa-search-dollar"></i>
            </div>
            <div class="icon">
                <i class="fas fa-layer-group"></i>  
            </div>
           <div class="icon">
                <i class="fas fa-user"></i>    
            </div>
        </div>
    </div>
    <div class="search mobile">
        <app-search-bar style="width: 100%;"></app-search-bar>
    </div>
    <!-- <div class="timeline">
        <div class="displayType">
        </div>
            <app-time-control style="
            display: flex;
            align-items: self-end;
            justify-content: center;
        "></app-time-control>
        <div>

        </div>
    </div> -->
</div>
