<div class="container">
    <div class="topbar">
        <div class="logo">
            Internet of Problems
        </div>
        <div class="search">
            <app-search-bar></app-search-bar>
        </div>
        <div class="menuBtns">
            <div class="icon">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="icon">
                <i class="fas fa-search-dollar"></i>
            </div>
            <div class="icon">
                <i class="fas fa-layer-group"></i>  
            </div>
           <div class="icon">
                <i class="fas fa-user"></i>    
            </div>
        </div>
    </div>
    <div class="timeline">
        <app-time-control></app-time-control>
    </div>
</div>
