.timeControl{
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

::ng-deep {
    .timeControl .ngx-slider {
        .ngx-slider-bar-wrapper{
            top:-25px;
        }
        .ngx-slider-bar {
            background: #ffe4d1;
            height: 3px;
          }
          .ngx-slider-pointer {
            width:15px;
            height: 20px;
            top: auto; /* to remove the default positioning */
            bottom: 18px;
            background-color: #d7d4d4;
            box-shadow: inset -1px -3px 6px 1px #acacac;
            border-radius: 6px;
          }
          .ngx-slider-active{
            outline: none!important;
          }
          .ngx-slider-pointer:after {
            display: none;
          }
          .ngx-slider-tick {
            width: 5px;
            height: 5px;
            margin-left: 7px !important;
            border-radius: 50%;
            background: #bdbdbd;
            top: -23px;
          }

          .ngx-slider-bubble{
              font-size: 10px;
              bottom: -3px;
          }

    }
  }