<div class="container">
    <div class="wrapper">
        <div class="searchBtn">
            <i class="fas fa-search"></i>
        </div>
        <p-autoComplete 
        [(ngModel)]="searchText" 
        [showEmptyMessage]="true" 
        [suggestions]="searchSuggestions" 
        styleClass="searchInput"
        (completeMethod)="getSuggestions($event)" 
        field="name"
        [autoHighlight]="true" 
        (onSelect)="loadRecord(null, $event)"
        (onKeyUp)="loadRecord($event)"
        [minLength]="1">
    </p-autoComplete>   
    </div>
    <p-dropdown 
    [options]="filters" 
    [(ngModel)]="selectedFilter" 
    styleClass="filterDropdown"
    optionLabel="name">
   </p-dropdown>
</div>

