.zoomcontrol{
    position: absolute;
    right: 15px;
    bottom:10px;
    width: 106px;
    height:200px;
    z-index: 5;
}

.container{
    background: rgb(251, 251, 251);
    height: 100%;
}

.map {
    height: 100%;
    width: 100%;
  }