.container{
    width: 100vw;
    height: calc(100vh - 5px);
    display: grid;
    grid-template-rows: 70px;
    grid-gap: 5px;
    left: 0;
    margin: 0;
}
.header{
    z-index: 2;
    background: whitesmoke;
}

@media screen and (max-width: 700px){
    .container{
        grid-template-rows: 100px;
    }
}


::ng-deep{
    .p-sidebar{
        max-width: 100vw!important;
        width: 500px!important;
    .p-sidebar-content {
        padding: 10px;
        position: absolute;
        width: 100%;
        height: calc(100vh - 20px);
    }
    .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
        position: fixed;
        z-index: 5;
    }
    }
}