<div class="mask">
    <div class="container">
        <div class="header">
            <div class="buffer"> </div>
            <div class="popupHeader">
                Create Problem
            </div>
            <div class="close" (click)="closePopup()">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="body">
            <div class="left">
                <div class="summary">
                    <div class="sectionHead">
                        <div>
                            TLDR :
                        </div>
                    </div>
                    <textarea pInputTextarea 
                    style="
                    width: calc(100% - 27px);
                    height: calc(100% - 50px);
                    resize: none;
                    font-size: 13px;
                    "
                    [(ngModel)]="tldr"
                    [disabled]="!allowEdit"
                    ></textarea>
                </div>
                <div class="tags">
                    <div class="sectionHead">
                        <div>
                            Tags :
                        </div>
                    </div>
                    <div class="tagsContent">
                        <p-autoComplete 
                        [(ngModel)]="selectedTags" 
                        [suggestions]="filteredTags" 
                        (completeMethod)="filterTag($event)" 
                        field="name" 
                        [multiple]="true"
                        [forceSelection]="true"
                        [unique]="true"
                        [placeholder]="'Add tags'"
                        styleClass="createTagClass"
                        >
                        </p-autoComplete>
                    </div>
                </div>
                <div class="description">
                    <div class="sectionHead">
                        <div>
                            Description :
                        </div>
                    </div>
                    <div>
                        <p-editor [(ngModel)]="description" styleClass="createEditorClass"></p-editor>
                    </div>
                </div>
            </div>
            <div class="right">
                <div>
                    <div>Catagory:</div>
                    <div>
                        <p-dropdown 
                        [options]="catagoryList" 
                        [(ngModel)]="selectedCatagory" 
                        [style]="{'width':'90%', 'margin-top':'10px'}"
                        optionLabel="name"
                        scrollHeight="300px"
                        ></p-dropdown>
                    </div>
                </div>
                <div style="overflow: hidden;">
                    <div>Link relavent problems:</div>
                    <div>
                        <div style="
                            display: grid; 
                            width: 100%;
                            grid-template-columns: 1fr 40px;
                            grid-gap: 10px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            align-items: center;
                            ">
                            <input type="text" pInputText placeholder="Enter ID of a problem" [(ngModel)]="linkID"/>
                            <div class="close" (click)="linkProblem()">
                                <!-- + icon -->
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>

                        <p-listbox 
                        [options]="linkedItems" 
                        [readonly]="true" 
                        optionLabel="refID"
                        emptyMessage="No linked problems"
                        >
                            <ng-template let-entry pTemplate="item">
                                <div style="
                                        display: grid;
                                        width: 100%;
                                        grid-template-columns: 20px 1fr 100px 20px;
                                        border-bottom: solid 1px #e0e0e0;
                                    ">
                                    <div>
                                        <i class="fas fa-link"></i>
                                    </div>
                                    <div style="padding-left:10px;">
                                        {{entry.refID}}
                                    </div>
                                    <div style="font-size: 14px;">
                                        {{entry.catagory}}
                                    </div>
                                    <div (click)="removeLink(entry)">
                                        <!-- bin icon -->
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="save" (click)="addProblem()">
                CREATE
            </div>
        </div>
    </div>
</div>

