
$small: 400px;
$medium: 900px;

.mask{
    position: fixed;
    z-index: 5;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.171);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    .container{
        width: 90vw;
        height: calc(100vh - 100px);
        background: whitesmoke;
        border-radius: 22px;
        padding: 15px;
        padding-top: 10px;
        @media screen and (max-width: $small) {
            height: calc(100vh - 100px);
        }
        .header{
            display: grid;
            grid-template-columns: 30px 1fr 30px;
            .popupHeader{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
            }
        }
    }
}

.close{
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    transition:0.5s;
    padding: 5px;
    box-shadow: inset -1px -3px 7px 2px #cbcbcb;
    &:hover{
        box-shadow: inset 3px -3px 7px 1px rgb(190, 190, 190);
    }
}

.body{
    // border:solid 1px;
    padding-top:10px;
    width: 100%;
    height: calc(100% - 100px);
    display: grid;
    grid-template-columns: 50% 47%;
    grid-gap:10px;
    overflow: hidden;
    @media screen and (max-width: $small) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        overflow-y: auto;
    }
    .left{
        display: grid ;
        grid-gap:0;
        grid-template-rows: 14% 10% 67%;   
        .description{
            overflow: hidden;
            border-bottom: solid 1px;
            border-color: gainsboro;
        }
    
        .tags{
            display: grid;
             .tagsContent{
                overflow: hidden;
                margin-top: 5px;
                height: 300px;
            }
        }
    }
    .right{
        border-left: solid 1px rgb(143, 143, 143);
        padding-right: 15px;
        padding-left: 10px;
        display: grid;
        grid-gap:15px;
        grid-template-rows: 10% 40%;
        // div{
        //     border:solid 1px;
        // }
    }
}

.footer{
    // border:solid 1px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    div{
        cursor: pointer;
        width: 200px;
        height: 50px;
        background: rgb(21, 99, 189);
        color: white;
        font-size: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3;
        margin-right: 10px;
        &:hover{
            box-shadow: inset -1px -3px 7px 2px #cbcbcb3d;
            background: rgb(39, 123, 219);
        }
    }
}

::ng-deep{
    
    .createTagClass .p-autocomplete-multiple-container {
        width: calc(50vw - 110px);
    }

    .createEditorClass .p-editor-content{
        height: calc(70vh - 280px);
    }
}