<div class="mapContainer">
    <div id="mapContent">
        
        <div *ngFor="let item of dataMap" class="widgetContainer {{item.content.type}}"
        [style.left.px]="item.x"
        [style.top.px]="item.y"
        id = "{{item.content.id}}"
        >
        <div *ngIf="item.content.type == 'problem'" class="widgetContent">
             {{item.content.summary}}
        </div>
        <div *ngIf="item.content.type == 'solution'" class="widgetContent">
            {{item.content.summary}}
        </div>
        <div *ngIf="item.content.stats" class="widgetStats">
            <div class="tools">
                <div *ngFor="let tag of item.content.tags" class="tag">
                    {{tag}}
                </div>
            </div>
            <div class="vote">
                <div class="icon upvote">
                    <i class="fas fa-sort-up"></i>
                </div>
                <div class="voteCount"> 
                    {{item.content.stats.vote}}
                </div>
                <div class="icon downvote">
                    <i class="fas fa-sort-down"></i>
                </div>

            </div>
            
        </div>
    </div>
</div>