<div class="mapContainer">
    <div id="mapContent">
        
        <div *ngFor="let item of dataMap" class="widgetContainer {{item.content.type}}"
        [style.left.px]="item.x"
        [style.top.px]="item.y"
        id = "{{item.content.id}}"
        >
        <div *ngIf="item.content.type == 'problem'" 
             class="widgetContent">
             {{item.content.text}}
        </div>
        <div *ngIf="item.content.type == 'solution'" 
        class="widgetContent">
        {{item.content.text}}
   </div>
    </div>
</div>