<div class="mapContainer">
    <!-- <div class="background"  [style.background-position-x]="backgroundX"  [style.background-position-y]="backgroundY" ></div> -->
    <div id="mapContent">
        <div *ngFor="let item of dataMap" class="widgetContainer {{item.type}}"
        [style.left.px]="item.x * 400"
        [style.top.px]="item.y * 300"
        id = "{{item.refID}}"
        (touchend)="showEdit(item)"
        (click)="showEdit(item)"
        (mouseenter)="highlightLine(item)"
        (mouseleave)="unHighlightLine(item)"
        @fadeIn>
        <div class="fundAvailable">
            <!-- <i class="fas fa-dollar-sign"></i> -->
             Funded
        </div>
        <div class="verified">
            <i class="fas fa-check-circle"></i>
        </div>
        <div 
        id="{{item.type == 'Solution' ? 'start' : 'end' }}{{item.refID}}" 
        class="addProblem pos{{item.type}}"
        (click) = "item.type == 'Solution' ? addConnection(item) : addChild(item)"
        (touchend)= "item.type == 'Solution' ? addConnection(item) : addChild(item)"
        >
            <i class="fas fa-plus-circle"></i>
        </div>
        <div 
        *ngIf="item.type == 'Problem'"
        id="{{item.type == 'Problem' ? 'start' : 'end' }}{{item.refID}}" 
        class="addSolution pos{{item.type}}"
        (click) = "item.type == 'Problem' ? addConnection(item) : addChild(item)"
        (touchend)= "item.type == 'Problem' ? addConnection(item) : addChild(item)"
        >
            <i class="fas fa-plus-circle"></i>
        </div>
   
        <div [title]="item.tldr" *ngIf="item.type == 'Problem'" class="widgetContent">
             {{item.tldr}}
        </div>
        <div [title]="item.tldr" *ngIf="item.type == 'Solution'" class="widgetContent">
            {{item.tldr}}
        </div>
        <div *ngIf="item.stats" class="widgetStats">
            <div class="tools">
                <div *ngFor="let tag of item.tags" class="tag">
                    {{tag.name}}
                </div>
            </div>
            <div class="vote">
                <div class="icon upvote" >
                    <i class="fas fa-sort-up" (touchend)="updateVote(item, 1)" (click)="updateVote(item, 1)"></i>
                </div>
                <div class="voteCount" [title]="item.stats.vote"> 
                    {{item.stats.vote | counter}}
                </div>
                <div class="icon downvote" (touchend)="updateVote(item,-1)" (click)="updateVote(item, -1)">
                    <i class="fas fa-sort-down"></i>
                </div>

            </div>
            
        </div>
        <div *ngIf="item.related && item.related.length" class="relatedList" (touchend)="disableMenu()" (click)="disableMenu()">
            <div class="relatedHead">
               <div> Related problems : </div>
               <div class="icon" (click)="toggleRelativeList(item.controls)" (touchend)="toggleRelativeList(item.controls)">
                    <i  *ngIf="item.controls.relatedOpen" class="fas fa-chevron-up"></i> 
                    <i  *ngIf="!item.controls.relatedOpen" class="fas fa-chevron-down"></i> 
               </div>
            </div>
            <div class="relatedList_wrapper" *ngIf="item.controls.relatedOpen" (mouseenter)="pause()" (mouseleave)="resume()">
                <div *ngFor="let rel of item.related" class="relatedItem" (click)="openRelative(rel)" (touchend)="openRelative(rel)">
                    <div>
                        {{rel.tldr}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>