.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #ecebeb94;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    padding: 10px;
    .custom-slider{
        height: 100%;
        width: 100%;
    }
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ngx-slider {
        .ngx-slider-bar {
          visibility: hidden;
          }
          .ngx-slider-pointer {
            width:32px;
            height: 16px;
            top: auto; /* to remove the default positioning */
            bottom: 0;
            background-color: #d7d4d4;
            box-shadow: inset -1px -3px 6px 1px #acacac;
            border-radius: 6px;
          }
          .ngx-slider-active{
            outline: none!important;
          }
          .ngx-slider-pointer:after {
            display: none;
          }
          .ngx-slider-tick-value {
            bottom: -15px;
            font-size: 12px;
            left: 30px!important;
            color: rgb(128, 128, 128);
          }

          .ngx-slider-tick {
            width: 16px;
            height: 1px;
            margin-left: -3px!important;
            border-radius: 0;
            background: #707070;
            top: -1px;
          }

    }
    .custom-slider .ngx-slider.vertical .ngx-slider-model-value{
        visibility: visible !important;
        margin-bottom: -13px;
        font-size: 13px;
        color: rgb(128, 128, 128);
        // background-color: white;
        left: 20px !important;
    }
  }